<ul id="home" title="<%= h(t('admin.dashboard.title')) %>" selected="true">
  <li><%= link_to t('admin.dashboard.stats_grid.title'), :controller => "dashboard", :action => "stats" %></li>
  <li><a href="/statistics">Physical servers</a></li>
  <li><a href="/statistics">My Profile</a></li>
  <li><a href="/statistics">Users</a></li>
  <li><a href="/statistics">Tasks</a></li>
  <li><a href="/statistics">Events log</a></li>
</ul>
