log/*.log
tmp/**/*
tmp/*.txt
db/*.sqlite3
config/database.yml
config/config.yml
utils/watchdog/watchdog.log
utils/watchdog/watchdog.pid
utils/hw-daemon/hw-daemon.log
utils/hw-daemon/hw-daemon.pid
utils/hw-daemon/hw-daemon.ini
build/build.log
build/ovz-web-panel-*.tgz
build/ovz-web-panel
