<ul class="pageitem">
  <% @users.each do |user| %>
    <li class="textbox">
      <span class="header">
        <%= h(user.login) %>
      </span>
      <% if !user.email.blank? %>
        <a href="mailto:<%= h(user.email) %>"><%= h(user.email) %></a><br>
      <% end %>
      <%= t('admin.users.role.' + (1 == user.role_type ? 'infrastructure_admin' : 'virtual_server_owner')) %>
    </li>
  <% end %>
</ul>