<ul class="pageitem">
  <%= imenu_link_to(t('admin.hardware_servers.top_toolbar.os_templates'), { :controller => "os_templates", :action => "list", :hardware_server_id => @hardware_server.id }, '/images/big-icons/tux.png') %>
  <%= imenu_link_to(t('admin.hardware_servers.top_toolbar.server_templates'), { :controller => "server_templates", :action => "list", :hardware_server_id => @hardware_server.id }, '/images/big-icons/package.png') %>
</ul>

<span class="graytitle"><%= h(t('admin.virtual_servers.grid.title')) %></span>
<ul class="pageitem">
  <% @virtual_servers.each do |virtual_server| %>
    <%= imenu_link_to(['#' + virtual_server[:identity].to_s, virtual_server[:host_name], virtual_server[:ip_address]].reject(&:blank?).join(' - '), { :controller => "virtual_servers", :action => "show", :id => virtual_server[:id] }) %>
  <% end %>
</ul> 

