<ul class="pageitem">
  <% @ip_addresses_list.each do |item| %>
    <li class="textbox">
        <span class="header"><%= image_tag 'network_adapter.png', :class => 'inline' %> <%= h(item[:name]) %></span>
        <%= link_to h(item[:virtual_server]), { :controller => 'virtual_servers', :action => 'show', :id => item[:virtual_server_id] } %> -
        <%= link_to h(item[:hardware_server]), { :controller => 'hardware_servers', :action => 'show', :id => item[:hardware_server_id] } %>
    </li>
  <% end %>
</ul>
