html, body { margin: 0px; padding: 0px; font-family: Arial; font-size: 11px; background-color: #F9F8F8; height: 100%; }

a { color: #000 }

.x-form-checkbox { margin-top: 4px; }
.x-panel-body p { margin: 10px; }
td.x-grid3-td-checker, td.x-grid3-td-state { vertical-align: middle; }
.x-grid3-row td, .x-grid3-summary-row td, .x-grid3-cell-text, .x-grid3-hd-text, .x-grid3-hd, .x-grid3-row { -moz-user-select:inherit; -khtml-user-select:text; }

.monospace-field { font-family: monospace; }
.error-text { color: #CC0000; font-weight: bold; }

.logo { float: left; text-align: center; top: 50%; display: table; height: 48px; padding-left: 20px; }
.logo div { display: table-cell; padding-top: 5px; font-size: 20px; font-weight: bold; }
.logo img { vertical-align: middle; }

.copyright { float: right; color: #FFFFFF; text-align: right; padding-right: 30px; display: table; height: 48px; font-weight: normal; }
.copyright div { display: table-cell; padding-top: 5px; }
.copyright a { color: #FFFFFF; text-decoration: none; }
.copyright a:hover { color: #F0F0F0; }

.main-content-center-panel > .x-panel-header { height: 32px; line-height: 26px; font-size: 20px; font-weight: normal; }
#main-content { padding: 10px; }

.x-tree-node div.menu-title { background: #eee; margin-top: 1px; border-top: 1px solid #ddd; border-bottom: 1px solid #ccc; padding: 2px 0 1px; font-weight: bold; }
.menu-title .x-tree-node-icon { display: none; }
.menu-item .x-tree-ec-icon { display: none; }
.menu-item .x-tree-node-icon { height: 16px; padding-right: 5px; }
.x-tree-node div.menu-item { padding: 5px; }

.icon-items-list { background-image: url(../images/table.png) !important; }
.icon-items-chart { background-image: url(../images/chart_bar.png) !important; }
.icon-window-login { background-image: url(../images/key.png) !important; }
.icon-window-restore-password { background-image: url(../images/key.png) !important; }
.icon-window-reset-password { background-image: url(../images/key.png) !important; }
.icon-window-my-profile { background-image: url(../images/vcard.png) !important; }
.icon-window-add { background-image: url(../images/add.png) !important; }
.icon-window-edit { background-image: url(../images/wrench.png) !important; }
.icon-window-reinstall { background-image: url(../images/refresh.png) !important; }
.icon-window-console { background-image: url(../images/monitor.png) !important; }
.icon-window-search { background-image: url(../images/zoom.png) !important; }
.icon-window-clone { background-image: url(../images/server_add.png) !important; }
.icon-window-migrate { background-image: url(../images/server_go.png) !important; }
.icon-window-create-template { background-image: url(../images/server_compressed.png) !important; }
.icon-button-login { background-image: url(../images/arrow_right.png) !important; }
.icon-button-back { background-image: url(../images/arrow_left.png) !important; }
.icon-button-login { background-image: url(../images/arrow_right.png) !important; }
.icon-button-restore-password { background-image: url(../images/key.png) !important; }
.icon-button-save { background-image: url(../images/accept.png) !important; }
.icon-button-add { background-image: url(../images/add.png) !important; }
.icon-button-cancel { background-image: url(../images/cancel.png) !important; }
.icon-button-change-state { background-image: url(../images/control_equalizer_blue.png) !important; }
.icon-button-start-server { background-image: url(../images/run.png) !important; }
.icon-button-stop-server { background-image: url(../images/stop.png) !important; }
.icon-button-restart-server { background-image: url(../images/refresh.png) !important; }
.icon-button-reinstall { background-image: url(../images/refresh.png) !important; }
.icon-button-change-setting { background-image: url(../images/wrench.png) !important; }
.icon-button-console { background-image: url(../images/monitor.png) !important; }
.icon-button-run { background-image: url(../images/run.png) !important; }
.icon-button-backup { background-image: url(../images/disk_multiple.png) !important; }
.icon-button-solve { background-image: url(../images/accept.png) !important; }
.icon-button-reopen { background-image: url(../images/help.png) !important; }
.icon-button-clone { background-image: url(../images/server_add.png) !important; }
.icon-button-tools { background-image: url(../images/wrench.png) !important; }
.icon-button-migrate { background-image: url(../images/server_go.png) !important; }
.icon-button-create-template { background-image: url(../images/server_compressed.png) !important; }

.icon-inline { height: 16px; width: 16px; padding-right: 5px; vertical-align: middle; }
.icon-inline-big { height: 32px; width: 32px; padding-right: 5px; vertical-align: middle; }

.panel-dashboard { margin: 10px; }
.button-restore-password { align: right }

.no-wrap { white-space: nowrap; }

