<div id="top-header">
  <div class="logo">
    <div>
      <%= image_tag "logo.png" %>
      <%= @product_name %>
    </div>
  </div>

  <div class="copyright">
    <div>
      <a id="copyright-link" href="#">
        &copy; <%= t('about.copyright') %><br/>
        <%= t('about.right_reserved') %>
      </a>
    </div>
  </div>
</div>
